<app-farmer-nav-left></app-farmer-nav-left>

<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Todays Rate</h5>
                <div *ngFor="let variety of varieties">
                    <div class="container mt-5">
                        <!-- <div class="row justify-content-center"> -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="row">
                                <div class="card-body">
                                        <h5 class="card-title">Variety</h5>
                                        <div>
                                            <p class="form-control-plaintext">{{variety.varietyName}}</p>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="card">
                                                <div class="card-body">
                                                        <img src="{{variety.imageUrl}}"
                                                            style="width: 300px; height: 300px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Rate</h5>
                                                        <p class="form-control-plaintext">{{variety.rate}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>
        </div>
    </div> -->