.card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #14e258;
  }
  .card-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #34b4ef;

  }