<div>
    <button (click)="purchaseHistory()">purchase history</button>
</div>
<table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Crop </th>   
        <th>Container</th>
        <th>Quantity</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of merchantPurchases">
        <td>{{ purchase.date |date}}</td>
        <td class="circle-image"><img [src]="purchase.cropImage" width="100px" height="100px" /></td>
        <td class="circle-image"><img [src]="purchase.containerImage" width="100px" height="100px" /></td>
        <td>{{ purchase.quantity }}</td>
        <button (click)="onClick()">Details</button>
      </tr>
    </tbody>
  </table>
  