<form [formGroup]="shipmentForm" (ngSubmit)="OnSubmit()">

    <label for="merchantId">Merchant Name:</label>
    <select id="merchantId" formControlName="merchantId">
      <option *ngFor="let merchant of merchants"  [value]="merchant.id">{{ merchant.name }}</option>
    </select>
    <br>
  
    <label for="vehicleId">Vehicle Number:</label>
    <select id="vehicleId" formControlName="vehicleId">
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.rtoNumber }}</option>
    </select>
    <br>
  
    <label for="kilometers">Kilometers:</label>
      <input type="text" formControlName="kilometers">
    <br>

    <button type="submit" [disabled]="!shipmentForm.valid" >Submit</button>
  </form>
  