<div class="hiddenscroll">
    <div class="row">
      <div class="col-md-2">
        <app-farmer-nav-left></app-farmer-nav-left>
      </div>
      <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center;;"
        ><h2 style="margin-top: 22px;color:gold"><b>TODAY'S RATES</b></h2>
    </div>
</div>
<div class="container mt-5" style="margin-left:200px;">
    <div class="row justify-content-center">
      
        <div class="row row-cols-3 ">
            <div *ngFor="let variety of varieties" class="col">
                <!-- <div class="card"> -->
                    <div class="card-img-zoom">
                        <div class="card-img-zoom:hover">
                    <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="card-img-zoom">
                                <div class="card-img-zoom:hover">
                            <div class="row justify-content-center">
                            <div class="col-md-10 mb-3">
                                <div class="card h-150">
                                    <img src="{{variety.imageUrl}}" class="card-img-top"
                                        style=" width: 274px; height: 225px;" alt="{{variety.varietyName}}">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>{{variety.varietyName}}</b></h5>
                                        <p class="card-text">Rate/Kg: {{variety.rate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        