<br>
<br>
<div>
    <td>{{vehicleNumber}}</td>
    <hr>

    <table>
        <thead>
            
            <th>date </th>
            <hr>
            <th>quantity </th>
            <hr>
            <th>netWeight </th>
            <hr>
        </thead>
        <tbody *ngFor="let SellTransport of SellTransports">
            <hr>
            <td>{{SellTransport.date|date}}</td>
            <hr>
            <td>{{SellTransport.quantity}}</td>
            <hr>
            <td>{{SellTransport.netWeight}}</td>
           
            <button (click)="onClick(sells.id)">sellDetails</button>
        </tbody>
    </table>
</div>