<br>
<br>
<div>
    <table>
        <thead>
            <th>vehicleNumber</th><hr>          
            <th>quantity </th><hr>
            <th>netWeight </th><hr>
            <th>date </th>
        </thead>
        <tbody *ngFor="let SellTransport of SellTransports">            
            <td>{{SellTransport.vehicleNumber}}</td><hr>
                        <td>{{SellTransport.quantity}}</td><hr>
            <td>{{SellTransport.netWeight}}</td><hr>
            <td>{{SellTransport.date}}</td> 
        </tbody>
    </table>
</div>     
