<!--  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar" style="padding-top: 15px;">
        <div class="logo"  >
            <span class="text-primary">E-</span>
            <span class="text-success">AGRO</span>
            <span class="text-warning">SERVICES</span>
          </div>          
          <div class="sidebar-sticky pt-3" style="margin-top: 15px;">
            <ul class="nav flex-column">
              <li class="nav-item" ngbDropdown>
                <a class="nav-link dropdown-toggle nav-link custom-link" ngbDropdownToggle>
                  Select List
                </a>
                <ul class="dropdown-menu">
                  <li ngbDropdownItem>
                    <a class="nav-link custom-link" [routerLink]="['/employees/farmerlist']"><span class="ml-2">FarmerList</span></a>
                  </li>
                </ul>
              </li>
            </ul>
       
          
             <li class="nav-item">
                <a [routerLink]="['/employees/farmerlist']" class="nav-link custom-link" routerLinkActive="active">
                  <i class="fas fa-person-circle"></i>
                  <span class="ml-2">FarmerList</span>
                </a>
              </li> -->
              <!-- <li class="nav-item"> 
                <a [routerLink]="['/employees/dashboard',employeeId]" class="nav-link custom-link" routerLinkActive="active">
                 <i class="fas fa-cart-fill"></i>
                 <span class="ml-2">Dashboard</span>
               </a>
             </li> -->
            
          
                  <!--   <li class="nav-item">
              <a [routerLink]="['/farmers/variety',farmerId]" class="nav-link custom-link" routerLinkActive="active">
                <i class="fas fa-cart-fill"></i>
                <span class="ml-2">Todays Rate</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/farmers/selllist',farmerId]" class="nav-link custom-link" routerLinkActive="active">
                <i class="fas fa-cart-fill"></i>
                <span class="ml-2">Sell History</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/farmers/logout',farmerId]" class="nav-link custom-link" routerLinkActive="active">
                <i class="fas fa-cart-fill"></i>
                <span class="ml-2">Log Out</span>
              </a> 
            </li> -->
<!--      
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        </div>
      </main>
    </div>
  </div>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="logo">
          <span class="text-primary">E-</span>
          <span class="text-success">AGRO</span>
          <span class="text-warning">SERVICES</span>
        </div>
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item" ngbDropdown>
              <a class="nav-link dropdown-toggle nav-link custom-link" (click)="toggleSidebar()" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                Select List
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" ngbDropdownMenu>
                <li ngbDropdownItem>
                  <a class="nav-link custom-link"  class="dropdown-item" [routerLink]="['/employees/farmerlist',employeeId]" ngbDropdownItem>
                    <i class="fas fa-cart-fill"></i>
                    <span class="ml-2">FarmerList</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link custom-link"  class="dropdown-item" [routerLink]="['/employees/dashboard', employeeId]" ngbDropdownItem>
                    <i class="fas fa-cart-fill"></i>
                    <span class="ml-2">Dashboard</span>
                  </a>
                </li>
              </ul>
              <li class="nav-item">
                <a class="nav-link custom-link"  class="dropdown-item" [routerLink]="['/employees/dashboard', employeeId]" ngbDropdownItem>
                  <i class="fas fa-cart-fill"></i>
                  <span class="ml-2">Dashboard</span>
                </a>
              </li>
          </ul>
        </div>
      </div>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        </div>
      </main>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  