<div class="profile-container">
  <div class="profile-info">

    <div class="profile-image" *ngIf="!editingImage">
      <img style="height:auto; border-radius: 250px;" [src]="url + user.imageUrl" width="260" height="260">
      <br>
      <button (click)="editImage()">
        <i class="fa fa-pencil"></i> Edit
      </button>
      <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    </div>
    <div class="image-preview" *ngIf="selectedImageUrl && editingImage">
      <img style="height:auto; border-radius: 250px;" [src]="selectedImageUrl" alt="Preview Image" width="260"
        height="260">
      <br>
      <button (click)="confirmImage()">Confirm</button>
      <button (click)="cancelImage()">Cancel</button>
    </div>

    <div class="profile-details">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p><strong>Birth Date:</strong> {{ user.birthDate | date }}</p>
      <p><strong>Gender:</strong> {{ user.gender }}</p>
      <p><strong>AadharId:</strong> {{ user.aadharId }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Contact Number:</strong> {{ user.contactNumber }}</p>
      <!-- Add the corporate details here -->
      <div class="edit-link">
        <li><a routerLink="changeprofile" routerLinkActive="router-link-active">Update Profile</a></li>
        <li><a routerLink="/auth/updatepassword" routerLinkActive="router-link-active">Update Your Password</a></li>
      </div>
    </div>
    <div *ngIf="isCorporate()">
      <app-corporatedetails></app-corporatedetails>
    </div>
    
  </div>
</div>
