.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* .profile-info {
  display: flex;
  align-items: flex-start;
} */

.profile-image {
  margin-right: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.edit-link {
  margin-right: 450px;
  align-self: flex-start;
}

/* Add any additional styling you need */
