<td>{{ invoice.invoiceDate | date }}</td>
<td>{{ invoice.farmerName }}</td>
<td>{{ invoice.merchantName }}</td>
<td>{{ invoice.cropName}}</td>
<td>{{ invoice.quantity}}</td>
<td>{{ invoice.weight}}</td>
<td>{{ invoice.ratePerKg}}</td>
<td>{{ invoice.totalAmount |number}}</td>
<td><button (click)="onClickInvoiceDetails()"> Details </button></td>
<div *ngIf="detailsStatus"> <app-collection-payment-details [invoiceId]="invoice.id"></app-collection-payment-details>
<button (click)="onClickClose()"> Close</button></div>