

<table>
    <thead>
        <tr>
            <th>Shipment Date</th>
            <th>Vehicle Number</th>
            <th>Farmer Name</th>
            <th>Collection Center Name</th>
            <th>Transporter Name</th>
            <th>Merchant Name</th>
            <th>Crop Name</th>
            <th>Grade</th>
            <th>Container Type</th>
            <th>Quantity</th>
            <th>Total Weight</th>
            <th>Net Weight</th>
            <th>Collection Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let collection of collections">
            <td>{{ collection.shipmentDate |date}}</td>
            <td>{{ collection.vehicleNumber }}</td>
            <td>{{ collection.farmerName }}</td>
            <td>{{ collection.collectionCenterName }}</td>
            <td>{{ collection.transporteName }}</td>
            <td>{{ collection.merchantName }}</td>
            <td>{{ collection.cropName }}</td>
            <td>{{ collection.grade }}</td>
            <td>{{ collection.containerType }}</td>
            <td>{{ collection.quantity }}</td>
            <td>{{ collection.totalWeight }}</td>
            <td>{{ collection.netWeight }}</td>
            <td>{{ collection.collectionDate |date}}</td>
        </tr>
    </tbody>
</table>