<!-- <form> -->
  
    <div class="form-group">
      <label >FarmerId:</label>
      <input type="text" class="form-control" [(ngModel)]="collection.farmerId">
    </div>

    <div class="form-group">
        <label >CropId:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.cropId">
      </div>

      <div class="form-group">
        <label >ContainerType:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.containerType">
      </div>

      <div class="form-group">
        <label>Quantity:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.quantity">
      </div>

      <div class="form-group">
        <label >Grade:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.grade">
      </div>

      <div class="form-group">
        <label>TotalWeight:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.totalWeight">
      </div>

      <div class="form-group">
        <label >TareWeight:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.tareWeight">
      </div>

      <div class="form-group">  
        <label >RatePerKg:</label>
        <input type="text" class="form-control" [(ngModel)]="collection.ratePerKg">
      </div>

    <button type="submit" class="btn btn-primary" (click)="addNewCollection()">Submit</button>
<!--   </form> -->


