<div class="container mt-5">
  <div class="row justify-content-center">

      <!-- Left side: User's image and name -->
      <div class="col-md-4 text-center border-right">
          
          <!-- Current Profile Image -->
          <div *ngIf="!editingImage">
              <img [src]="imageurl" alt="{{ user.firstName }} {{ user.lastName }}" class="img-fluid rounded-circle mb-3" style="width: 260px; height: 260px;">
          </div>
          
          <!-- Image Preview when editing -->
          <div class="image-preview" *ngIf="selectedImageUrl && editingImage">
              <img [src]="selectedImageUrl" alt="Preview Image" class="img-fluid rounded-circle mb-3" style="width: 260px; height: 260px;">
          </div>

          <!-- User's name -->
          <h3 class="mt-2">{{ user.firstName }} {{ user.lastName }}</h3>

          <!-- Buttons -->
          <div class="mt-2">
              <a routerLink="changeprofile" routerLinkActive="router-link-active" class="btn btn-info mb-2 btn-gap">Update Profile</a>
              <a routerLink="/auth/updatepassword" routerLinkActive="router-link-active" class="btn btn-warning mb-2 btn-gap">Update Password</a>
              <button class="btn btn-primary mb-2 btn-gap" (click)="editImage()">
                  <i class="fa fa-pencil"></i> Edit
              </button>
              <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
          </div>

      </div>

      <!-- Right side: User's details -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <ul class="list-unstyled">
                      <li><i class="fa fa-transgender mr-2"></i><strong>Gender:</strong> {{ user.gender }}</li>
                      <br>
                      <li><i class="fa fa-id-card mr-2"></i><strong>AadharId:</strong> {{ user.aadharId }}</li>
                      <br>
                      <li><i class="fa fa-envelope mr-2"></i><strong>Email:</strong> {{ user.email }}</li>
                      <br>
                      <li><i class="fa fa-phone mr-2"></i><strong>Contact Number:</strong> {{ user.contactNumber }}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
