<div *ngIf="isDataExist()">
  <div style="position: relative">
    <google-chart
      title="Monthly Sales"
      [type]="columnChart"
      [data]="data"
      [columns]="columnNames"
      [width]="width"
      [height]="height"
      [options]="columnoptions"
    >
    </google-chart>

    <select
      class="sort-select"
      style="position: absolute; top: 40px; right: 350px"
      [(ngModel)]="selectedYear"
      (ngModelChange)="changeGraphByYear()"
    >
      <option *ngFor="let year of distinctYears" [value]="year">{{ year }}</option>
    </select>
  </div>
</div>














  
   <!-- other charts types
<div class="col-md-5">
  <div class="card bg-light">
      <div class="card-body-center">
        <div class="card-header text-center"><b>Monthly Sales</b></div>
  <div class="row">
      <google-chart
        title="Donut Chart"
        [type]="pieChart"
        [data]="data"
        [columns]="columnNames"
        [width]="width"
        [height]="height"
        [options]="donutOptions"
      >
      </google-chart>
    </div>
  </div>  
</div>
    </div> 
    <div class="col-md-5">
      <div class="card bg-light">
          <div class="card-body-center">
            <div class="card-header text-center"><b>Monthly Sales</b></div>
    <div class="row">
      <google-chart
        title="Pie Chart"
        [type]="pieChart"
        [data]="data"
        [columns]="columnNames"
        [width]="piewidth"
        [height]="pieheight"
      >
      </google-chart>
    </div>
    </div>
  </div>
  </div>
  <div class="row">
      <google-chart
        title="Line Chart"
        [type]="lineChart"
        [data]="data"
        [columns]="columnNames"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </div>
    <div class="row">
      <google-chart
        title="Area Chart"
        [type]="areaChart"
        [data]="data"
        [columns]="columnNames"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </div>
    <div class="row">
    
        <google-chart
          title="Bar Chart"
          [type]="barChart"
          [data]="data"
          [columns]="columnNames"
          [width]="width"
          [height]="height"
        >
        </google-chart>
      </div> -->
   
