.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
  }
  
  .input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input-field {
    flex: 1;
    padding: 5px;
  }
  
  .suggestions {
    list-style: none;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    max-height: 100px;
    overflow-y: auto;
    width: 100%; 
    position: relative;
  }
  .suggestions::-webkit-scrollbar {
    width: 6px;
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 3px; 
}

.suggestions::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  