<!-- <app-home></app-home> -->
<!-- <auth-routing></auth-routing> -->
<!-- <app-goodscollection></app-goodscollection> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <app-addnewvehicle></app-addnewvehicle> -->
<!-- <app-getshipmentsofvehicle></app-getshipmentsofvehicle> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <auth-login></auth-login> -->
<!-- <app-add-collection></app-add-collection> -->
<!-- <app-userprofile></app-userprofile> -->
<!-- <app-getallshipments></app-getallshipments> -->
<!-- <app-verify-collection></app-verify-collection> -->
<!-- <app-collection-verification></app-collection-verification> -->
<!-- <collection-list></collection-list> -->
<!-- <app-addtoshipment></app-addtoshipment> -->
<!-- <app-userprofile></app-userprofile> -->
<app-navbar></app-navbar>
<!-- <app-userprofile></app-userprofile> -->
<router-outlet></router-outlet>
