<!-- <app-home></app-home> -->
<!-- <auth-routing></auth-routing> -->
<!-- <app-goodscollection></app-goodscollection> -->
<router-outlet></router-outlet>
<app-verifiedcollection></app-verifiedcollection>
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <auth-routing></auth-routing> 
<router-outlet></router-outlet> -->
<!-- <app-goodscollection></app-goodscollection> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <app-addnewvehicle></app-addnewvehicle> -->
<!-- <app-getshipmentsofvehicle></app-getshipmentsofvehicle> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <router-outlet></router-outlet> -->
<!-- <auth-login></auth-login> -->

<!-- <app-userprofile></app-userprofile> -->
<!-- <app-userprofile></app-userprofile> -->
<!-- <app-getallshipments></app-getallshipments> -->
