<!-- <app-home></app-home> -->
<!-- <auth-routing></auth-routing>
<router-outlet></router-outlet> -->
<!-- <app-goodscollection></app-goodscollection> -->
<auth-login></auth-login>
<app-goodscollection></app-goodscollection>
<!-- <auth-login></auth-login> -->
<!-- <app-profile></app-profile> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <app-addnewvehicle></app-addnewvehicle> -->
<!-- <app-getshipmentsofvehicle></app-getshipmentsofvehicle> -->
<!-- <app-vehiclesoftransporter></app-vehiclesoftransporter> -->
<!-- <router-outlet></router-outlet> -->