<div class="container mt-4">
  <div class="card shadow mb-4">
    <div class="card-body">
      <form [formGroup]="collectionForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label for="farmerId">Farmer Name:</label>
          <select id="farmerId" formControlName="farmerId" class="form-control">
            <option *ngFor="let farmer of farmers" [value]="farmer.id">{{ farmer.fullName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="cropId">Crop Name:</label>
          <select id="cropId" formControlName="cropId" class="form-control">
            <option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Container Type:</label>
          <div *ngFor="let type of containerTypes">
            <label class="radio-label">
              {{ type }}
              <input type="radio" [id]="type" [value]="type" formControlName="containerType">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" formControlName="quantity" class="form-control" placeholder="Enter quantity">
        </div>

        <div class="form-group">
          <label for="weight">Weight:</label>
          <input type="number" id="weight" formControlName="weight" class="form-control" placeholder="Enter weight">
        </div>

        <button type="submit" [disabled]="!collectionForm.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
