<br>
<br>
<button type="button" class="btn btn-info" (click)="onClickVerified()">VerifiedCollection</button>

    <div class="container mt-4">
<div *ngIf="farmerCollections">
            <table class="table table-bordered">
        <thead>
            <tr>
                <th>Collection Center Name</th>
                <th>Collection Date</th>
                <th>Crop Info</th>
                <th>Container Type</th>
                <th>Quantity</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody *ngFor="let farmerCollection of farmerCollections">
            <td>{{farmerCollection.collectionCenterName}}</td>
            <td>{{farmerCollection.collectionDate}}</td>
            <div class="crop-info" class="rounded-image">
                <img [src]="farmerCollection.imageUrl" class="crop-image"/>
                <div class="crop-name">{{farmerCollection.cropName}}</div>
            </div>
            <td>{{farmerCollection.containerType}}</td>
            <td>{{farmerCollection.quantity}}</td>
            <td>{{farmerCollection.weight}}</td>
        </tbody>
    </table>
</div>
    </div>
    