<div class="hiddenscroll">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="row justify-content-center">
    <div class="col-md-10 center" style=" text-align: center;">
      <h2 style="margin-top: 10px;color:gold"><b>TODAY'S RATES</b></h2>
    
  </div>
  <div class="container mt-5" style="margin-left:30px;">
    <div class="row justify-content-center">

      <div class="row row-cols-2 ">
        <div *ngFor="let variety of crops" class="col">
          <div class="card-img-zoom">
            <div class="card-img-zoom:hover">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="row">
                    <div class="card-img-zoom">
                      <div class="card-img-zoom:hover">
                        <div class="row justify-content-center">
                          <div class="col-md-12 mb-3">
                            <div class="card h-100">
                              <div class="card w-100">
                                <div class="card-body">
                                  <div class="row justify-content-center">
                                    <img src="{{variety.imageUrl}}" class="card-img-top"
                                         style=" width: 150px; height: 130px;" alt="{{variety.title}}">
                                    <h5 class="card-title"><b>{{variety.title}}</b></h5>
                                    <p class="card-text">Rate/Kg: {{variety.rate}}</p>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


      
