<div class="row justify-content-center">
  <div class="col-md-2">
    <app-transport-nav-left></app-transport-nav-left>
  </div>
  <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center;">
    <h2 style="margin-top: 22px; color: gold;"><b>My Trucks</b></h2>
  </div>
</div>
<div class="my-card">
  <div class="row align-items-center search-row">
    <div class="col-auto">
      <input type="text" placeholder="Search truck number" (input)="onSearch()" [(ngModel)]="searchString" class="form-control search-input">
    </div>
    <div class="col text-center">
      <!-- <h2 class="m-0">Trucks List</h2> -->
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary"(click)="onInsertClick()" >Insert New </button>
    </div>
    </div>
    <div *ngIf="insertStatus" class="form-group">
      <label>Truck Number</label>
      <input type="text" class="form-control" [(ngModel)]="truck.truckNumber" name="truckNumber"  />
      <button type="submit" class="btn btn-primary btn-block" (click)="addTruck()">
        <i class="fas fa-check mr-2"></i>Add
      </button>
    </div>
    <div class="d-flex justify-content-start">
      <ul>
        <div class="m-4 p-2" *ngFor="let transportTruck of trucks">

          <li> <b> Truck Number: {{ transportTruck.truckNumber }}</b></li>
        
          <div class="d-flex justify-content-evenly">
            <button type="submit" class="btn btn-primary btn-block m-4" (click)="onUpdateClick(transportTruck)">
              <i class="fas fa-check mr-2"></i>Update</button>
            <button type="submit" class="btn btn-danger btn-block m-4" (click)="onDeleteClick(transportTruck)">
              <i class="fas fa-trash-alt"></i> Delete</button>
          </div>
          <div *ngIf="transportTruck.showUpdateForm">
            <div class="form-group">
              <label>Truck Number</label>
              <input type="text" class="form-control" id="truckNumber" [(ngModel)]="transportTruck.truckNumber"
                name="truckNumber" [placeholder]="transportTruck.truckNumber" />
            </div>
            <button type="submit" class="btn btn-primary btn-block" (click)="updateTruck(transportTruck)">
              <i class="fas fa-check mr-2"></i>Done
            </button>
          </div>
          <div *ngIf="transportTruck.showDeleteForm">
            <div class="delete-confirmation">
              <h2>Delete Confirmation</h2>
              <p>Are you sure you want to delete?</p>
              <div class="buttons">
                <button type="button" class="delete-button" (click)="confirmDelete(transportTruck)">Delete</button>
                <button type="button" class="cancel-button" (click)="onCancelClick(transportTruck)">Cancel</button>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </ul>
    </div>
  </div>