
<br><br><br>
<app-collectiondetails [collectionId]="collectionId" (sendCollection)="receiveCollection($event)" hidden></app-collectiondetails>
<form *ngIf="collection && collectionId != 0">
    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" [(ngModel)]="collection.quantity" >
    <br>
    <label for="container">Container:</label>
    <input type="text" name="containerType" [(ngModel)]="collection.containerType">
    <br>
    <label for="rateperkg">Rateperkg:</label>
    <input type="text" name="grade" [(ngModel)]="collection.grade">
    <br>
    <button type="submit"(click)="edit()">Done</button>
 </form>