<div *ngIf="role == 'Farmer'">
  <div class="row align-items-center search-row">
    <div class="col-auto">
      <input type="text" placeholder="Search here" (input)="onSearch()" [(ngModel)]="searchString" class="form-control search-input">
    </div>
    <div class="col text-center">
      <h2 class="m-0">Farmers List</h2>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="onShowAll()">Show All</button>
    </div>
  </div>
  <div class="mycard text-bg-white overflow-hidden">
    <div class="row" style="background-color: silver">
      <div class="col-md-12">
        <div *ngFor="let farmer of userList">
          <emp-farmerdetails [farmer]="farmer"></emp-farmerdetails>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role == 'Merchant'">
  <div class="row align-items-center search-row">
    <div class="col-auto">
      <input type="text" placeholder="Search here" (input)="onSearch()" [(ngModel)]="searchString" class="form-control search-input">
    </div>
    <div class="col text-center">
      <h2 class="m-0">Merchants List</h2>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="onShowAll()">Show All</button>
    </div>
  </div>
  <div class="mycard text-bg-white overflow-hidden">
    <div class="row" style="background-color: silver">
      <div class="col-md-12">
        <div *ngFor="let merchant of userList">
          <emp-merchant-details [merchant]="merchant"></emp-merchant-details>
        </div>
      </div>
    </div>
  </div>
</div>
