<div class="form-card">
    <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm" novalidate>
      <div class="form-group">
        <label for="vehicleType">Vehicle Type:</label>
        <input type="text" class="form-control" id="vehicleType" name="vehicleType" [(ngModel)]="vehicle.vehicleType" required>
      </div>
    
      <div class="form-group">
        <label for="rtoNumber">RTO Number:</label>
        <input type="text" class="form-control" id="rtoNumber" name="rtoNumber" [(ngModel)]="vehicle.rtoNumber" required>
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  