<h1> your personal information</h1>
<div *ngIf="userDetails">
    <br>
    <h4> {{userDetails.firstName}} {{userDetails.lastName}}</h4>
    <br>
    <h4> {{userDetails.contactNumber}}</h4>
    <br>
    <h4> {{userDetails.email}}</h4>
    <br>
    <h4> {{userDetails.aadharId}}</h4>
    <br>
    <h4> {{userDetails.birthDate}}</h4>
    <br>
    <h4> {{userDetails.gender}}</h4>
    <br>
</div>
<br>


<button (click)="onClickUserRoleFarmer()">Register As Farmer</button><br>
<button (click)="onClickAddCorporate()" > Add as Corporate</button>
