
<div></div>
<br />
<app-farmerdetails></app-farmerdetails>
<div >
    <table>
        <thead>
<tr>
    <th>date</th>
    <th>crop</th>
    <th>quantity</th>
    <th>Total Weight</th>
    <th>Actions</th>
</tr>
        </thead>
        <tbody *ngFor="let collectionViewModel of collectionViewModels ">
            <tr>
                <td>{{collectionViewModel.collection?.date |date}}</td>
            <td>{{collectionViewModel.cropName}}</td>
          <td>{{collectionViewModel.collection?.quantity}}</td>
          <td>{{collectionViewModel.collection?.totalWeight}}</td>
          <td><button (click)="showDetails(collectionViewModel.collection?.id)">details</button></td>
          <td><button (click)="showBill(collectionViewModel.collection?.id)">bill</button></td>

            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>