<div>
    <app-farmerdetails></app-farmerdetails>
    <app-filterbycontainer (newCollection)="receiveCollection($event)"></app-filterbycontainer>
  
     <div>
      <table>
        <thead>
          <tr>
            <th>date</th>
            <th>crop</th>
            <th>Total Weight</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
          <tbody *ngIf="collectionViewModels && collectionViewModels.length > 0">
            <tr *ngFor="let viewModel of getcollections">
              <td>{{ viewModel.collection.date | date }}</td>
              <td>{{ viewModel.cropName }}</td>
              <td>{{ viewModel.collection.totalWeight }}</td>
              <td>{{ viewModel.collection.amount }}</td>
              <td><button (click)="showDetails(viewModel.collection.id)">details</button></td>
            </tr>
          </tbody>
      </table>
      <button *ngIf="hasPreviousPage()" (click)="previous()">previous</button>
      <button *ngIf="hasNextPage()" (click)="next()">next</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  