<div *ngIf="callFromParent==false">
  <div class="row" style="overflow-x: hidden">
    <div class="col-md-2">
      <app-employee-nav-left></app-employee-nav-left>
    
    <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center">
      <h2 style="margin-top: 22px; color: gold"><b>List</b></h2>
    </div>
  </div>
  </div>
  </div>
<div style="margin-left: 270px;padding-top:10px ;">
      <h2 >Roles</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
       
          <select class="sort-select"
            (change)="changeRole($event)"
            formControlName="selectedRole">
            <option value="">Choose Role</option>
            <option *ngFor="let role of roles" [ngValue]="role">
              {{ role }}
            </option>
          </select>
          <div  *ngIf="isSubmitted && selectedRole?.invalid">
            <sup>*</sup>Please provide role name
          </div>
          <button type="submit">Submit</button>
      </form>
   
<br>
<app-details style="margin-top: 20px;"></app-details>
</div>
