<div *ngIf="farmer">
  <div class="card" style="margin-bottom: 10px; margin-top: 5px; color: black; background-color: rgb(217, 209, 226)">
    <div class="d-flex justify-content-left">
      <div>
        <img src="/assets/images/AkshayTanpure.jpg" width="100px" height="100px" />
      </div>
      <div class="m-4 p-2">
        <label style="padding-left: 20px; font-size: large"
          ><b>Name: {{ farmer.firstName }} {{ farmer.lastName }}</b></label
        >
        <label style="padding-left: 20px; font-size: large"
          ><b>Location: {{ farmer.location }}</b></label
        >
        <button type="submit" class="btn btn-primary btn-block fixed-update-button" (click)="onUpdateClick()">
          <i class="fas fa-check mr-2"></i>Update</button
        >
        <button type="submit" class="btn btn-danger btn-block fixed-delete-button" (click)="onDeleteClick()">
          <i class="fas fa-trash-alt"></i> Delete</button
        >
        <button type="submit" class="btn btn-primary btn-block fixed-selllist-button " (click)="onSellListClick()">
          <i class="fas fa-list"></i>SellList</button
        >
      </div>
    </div>
    <div *ngIf="updateStatus" >
      <app-farmer-update [callFromParent]="true" [farmerId]="farmer.farmerId"></app-farmer-update>
    </div>
    <div *ngIf="sellListStatus" >
      <app-farmer-selllist style="--child-margin-left: 0;" [callFromParent]="true" [farmerId]="farmer.farmerId"></app-farmer-selllist>
     <div style="text-align: center;" > <button type="submit" class="btn btn-danger btn-block "  (click)="onCloseListClick()">
        <i class="fas fa-check mr-2"></i>Close</button>
      </div>
    </div>

    <div *ngIf="deleteStatus">
      <div class="delete-confirmation">
        <h2>Delete Confirmation</h2>
        <p>Are you sure you want to delete?</p>
        <div class="buttons">
          <button type="button" class="delete-button" (click)="confirm()">Delete</button>
          <button type="button" class="cancel-button" (click)="onCancelClick()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>