<div class="hiddenscroll">
<div class="row ">
  <div class="col-md-2" >
    <app-farmer-nav-left></app-farmer-nav-left>
  </div>
  <div class="col-md-10 center bg-danger" style="background-color: rgb(71, 71, 204);text-align: center;"><h2>Farmer Sells Records</h2></div></div>
  <div class="my-card">
  <div class="row justify-content-center">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <table>
              <thead>
                <tr>
                  <!-- <th>Farmer Name</th> -->
                  <th>Variety Name
                    <br>
                    <select class="select"  (change)="onSortByVarietyNameChange($event)">
                      <option>sort by</option>
                      <option  value="asc">Ascending</option>
                      <option  value="desc">Descending</option>
                    </select>
                  </th>
                  <th>Container Type</th>
                  <th>Quantity</th>
                  <th>Grade</th>
                  <th>Total Weight</th>
                  <th>Tare Weight</th>
                  <th>Net Weight</th>
                  <th>Rate/Kg</th>
                  <th>Amount
                    <select class="select" (change)="onSortByAmountChange($event)">
                      <option>sort by</option>
                      <option  value="asc">Ascending</option>
                      <option value="desc">Descending</option>
                    </select>
                  </th>
                  <th>Date Of Sell</th>
                  <th>Labour Charges</th>
                  <th>Total Amount</th>
                  <th>Date Of Billing</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let purchasedetails of purchaseViewModel">
                  <!-- <td>{{ purchasedetails.farmerName}}</td> -->
                  <td>{{ purchasedetails.varietyName}}</td>
                  <td>{{ purchasedetails.purchaseItem.containerType}}</td>
                  <td>{{ purchasedetails.purchaseItem.quantity}}</td>
                  <td>{{ purchasedetails.purchaseItem.grade}}</td>
                  <td>{{ purchasedetails.purchaseItem.totalWeight}}</td>
                  <td>{{ purchasedetails.purchaseItem.tareWeight}}</td>
                  <td>{{ purchasedetails.purchaseItem.netWeight}}</td>
                  <td>{{ purchasedetails.purchaseItem.ratePerKg}}</td>
                  <td>{{ purchasedetails.purchaseItem.amount}}</td>
                  <td>{{ purchasedetails.purchaseItem.date |date }}</td>
                  <td>{{ purchasedetails.purchaseBilling.labourCharges}}</td>
                  <td>{{ purchasedetails.purchaseBilling.totalAmount}}</td>
                  <td>{{ purchasedetails.purchaseBilling.date |date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->