form {
    width: 300px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 200px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  

  .profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 40%;
    background-color: #e0e0e0;
    margin-bottom: 2px;
  }
  
  .profile-icon {
    font-size: 36px;
    color: #555;
  }
  
  .profile-image {
    width: 500%;
    height: 500%;
    border-radius: 50%;
    object-fit: cover;
  }
  