
<form (ngSubmit)="addUser()" >
    <div>
      <label for="aadharId">Aadhar ID:</label>
      <input type="text" id="aadharId" name="aadharId" [(ngModel)]="user.aadharId" required>
    </div>
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
    </div>
    <div>
      <label for="birthDate">Birth Date:</label>
      <input type="date" id="birthDate" name="birthDate" [(ngModel)]="user.birthDate" required>
    </div>
    <div>
      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" [(ngModel)]="user.gender" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="contactNumber">Contact Number:</label>
      <input type="text" id="contactNumber" name="contactNumber" [(ngModel)]="user.contactNumber" required>
    </div>
    <div>
      <button type="submit">Add User</button>
    </div>
  </form>
  