<div class="container mt-4">
  <div class="row">
      <div *ngIf="shipmentItemsDetails && shipmentItemsDetails.length > 0" class="col-md-12">
          <div class="card">
              <div class="card-header" style="background-color: #042e59; color: #fff;">
                  Shipment Details
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Date</th>
                              <th>Collection Center</th>
                              <th>Crop Name</th>
                              <th>Container Type</th>
                              <th>Quantity</th>
                              <th>Total Weight</th>
                              <th>Net Weight</th>
                              <!-- If you want to add an action column in the future, you can uncomment below -->
                              <!-- <th>Action</th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let shipmentItem of shipmentItemsDetails">
                              <td>{{ shipmentItem.collectionDate | date:'shortDate' }}</td>
                              <td>{{ shipmentItem.collectionCenterName }}</td>
                              <td>{{ shipmentItem.cropName }}</td>
                              <td>{{ shipmentItem.containerType }}</td>
                              <td>{{ shipmentItem.quantity }}</td>
                              <td>{{ shipmentItem.totalWeight }}</td>
                              <td>{{ shipmentItem.netWeight }}</td>
                              <!-- If you want to add action buttons in the future, you can uncomment below -->
                              <!-- 
                              <td>
                                  <button class="btn btn-primary">Action</button>
                              </td> 
                              -->
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
