.update-button-container {
    position: relative;
  }
  
  .fixed-update-button {
    position: absolute;
    top: 30px; 
    left: 100px;
    margin-left: 760px; 
  }
  
  .fixed-delete-button {
    position: absolute;
    top: 30px; 
    left: 100px;
    margin-left: 900px; 
  }
  .fixed-purchaselist-button{
    position: absolute;
    top: 30px; 
    left: 100px;
    margin-left: 1040px; 
  }

  .delete-confirmation {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .delete-confirmation h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .delete-confirmation p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  