.my-card {
    position:sticky;
    align-content: center;
    margin-left: 18%;
    background-color: #f1f1f1;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			margin-bottom: 20px;
           
  }

  
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 
  input[type="text"]:focus {
    outline: none;
    border-color: #3366ff;
    box-shadow: 0 0 5px #3366ff;
  }
  
  
  input[type="text"]::placeholder {
    color: #999;
  }
  
  
  input[type="text"]:hover {
    border-color: #999;
  }
  button[type="submit"],button[type="reset"]  {
    background-color: #e60073;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color:#bc0f8b ;
  }
  .search-row {
    background-color: #1e272e;
    padding: 10px;
    color: gold ;
  }
  
  .search-input {
    width: 200px;
    margin: 0 auto;
  }
  
  @media (max-width: 576px) {
    .search-input {
      width: 100%;
    }
  }
  
  