/* .password-container {
    position: relative;
  }
  
  .password-container .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  } */