<div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="card farmer-dashboard-card">
          <div class="card-body">
<div class="line-chart-size" >
    <canvas baseChart class="chart" [datasets]="lineChartData.datasets" [labels]="lineChartData.labels"
        [options]="lineChartOptions" [type]="lineChartType"></canvas>
</div>

<div>
    <label >Select Interval:</label>
    <select  [(ngModel)]="selectedInterval" (ngModelChange)="fetchRevenueData()">
        <option *ngFor="let option of chartIntervals" [value]="option">{{ option }}</option>
    </select>
</div>

<div *ngIf="selectedInterval!= 'Year'">
    <label >Select Year:</label>
    <select  [(ngModel)]="selectedYear" (ngModelChange)="fetchRevenueData()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
</div>
            <!-- <app-farmerdashboard></app-farmerdashboard> -->
          </div>
        </div>
        <div class="card pie-chart-card mt-8">
          <div class="card-body">
            <app-farmerpiechart></app-farmerpiechart>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card crops-details-card">
          <div class="card-body overflow-auto" style="max-height: 930px;">
            <app-cropsdetails></app-cropsdetails>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card pie-chart-card mt-8" style="margin: left 50px; margin-right: 50px ;">
    <div class="card-body">
  <app-revenuebarchart></app-revenuebarchart>
</div>
</div>