<div class="hiddenscroll">
  <div class="row">
    <div class="col-md-2">
      <app-transport-nav-left></app-transport-nav-left>
    </div>
    <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center;">
      <h2 style="margin-top: 22px;color:gold"><b>TRANSPORT RECORDS</b></h2>
    </div>
  </div>
  <div class="my-card">
    <!-- <div class="row justify-content-center"> -->
      <div class="col-md-11.2 rem">
      <div class="card" style="margin-left:230px;">
          <div class="card-body">
            <div class="col-md-12">
              <table class="table table-bordered w-100">
                <thead>
                  <tr>
                    <th>Truck Number </th>
                    <th>From Destination</th>
                    <th>To Destination</th>
                    <th>Kilomiters</th>
                    <th>Rate/Kilomiters</th>
                    <th>Frieght Charges</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transportdetails of transports">
                    <td>{{ transportdetails.truck.truckNumber }}</td>
                    <td>{{ transportdetails.freightRate.fromDestination}}</td>
                    <td>{{ transportdetails.freightRate.toDestination }}</td>
                    <td>{{ transportdetails.freightRate.kilometers}}</td>
                    <td>{{ transportdetails.freightRate.ratePerKm }}</td>
                    <td>{{ transportdetails.billing.freightCharges }}</td>
                    <td>{{ transportdetails.billing.date |date }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

