<div class="hiddenscroll">
  <div class="row">
    <div class="col-md-2">
      <app-transport-nav-left></app-transport-nav-left>
    </div>
    <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center;">
      <h2 style="margin-top: 22px;color:gold"><b>TRANSPORT RECORDS</b></h2>
    </div>
  </div>
  <div class="my-card">
      <div class="col-md-11.2 rem">
      <div class="card">
          <div class="card-body">
            <div class="col-md-12">
              <div class="sort-container" >
                <button id="filterBtn" (click)="showFilters = true" (click)="getAllTrucks()"  style="margin: 6px">Filters</button>
                <form *ngIf="showFilters" (ngSubmit)="onFilterSubmit()">
                  <label for="startDate">Start Date:</label>
                  <input type="date" id="startDate" name="filterStartDate" [(ngModel)]="filterStartDate" />
                  <label for="endDate">End Date:</label>
                  <input type="date" id="endDate" name="endDate" [(ngModel)]="filterEndDate" />
                  <label for="truckNumber">TruckNumber</label>
                  <select id="truckNumber" name="truckNumber" [(ngModel)]="filterTruckNumber">
                    <option></option>
                    <option *ngFor="let truck of transportTrucks" [value]="truck.truckNumber">{{ truck.truckNumber }}</option>
                  </select>
                  <button type="submit">Filter</button>
                  <div class="cancel-button-container">
                    <button type="reset" (click)="cancelFilters()">Cancel</button>
                  </div>
                </form>
                <label class="sort-label">Sort by:</label>
                <select   class="sort-select" [(ngModel)]="sortBy" (change)="onSortChange()">
                  <option value="date">Date</option>
                  <option value="truckNumber">TruckNumber</option>
                    <option value="fromDestination">FromDestination</option>
                    <option value="toDestination">ToDestination</option>
                  <option value="ratePerKm">RatePerKm</option>
                    <option value="kilometers">Kilometers</option>
                  <option value="freightCharges">FreightCharges</option>
                </select>
                <label class="sort-label">Sort Order:</label>
                <select class="sort-select" [(ngModel)]="sortOrder" (change)="onSortChange()">
                  <option value="asc">Ascending</option>
                  <option value="desc">Descending</option>
                </select>
                <button type="submit" (click)="showAllRecords()">ShowAll</button>
              </div>
              <br />
              <table class="table table-bordered w-100">
                <thead>
                  <tr>
                    <th>Truck Number </th>
                    <th>From Destination</th>
                    <th>To Destination</th>
                    <th>Kilomiters</th>
                    <th>Rate/Kilomiters</th>
                    <th>Frieght Charges</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transportdetails of transportfaredetails">
                    <td>{{ transportdetails.truckNumber }}</td>
                    <td>{{ transportdetails.fromDestination}}</td>
                    <td>{{ transportdetails.toDestination }}</td>
                    <td>{{ transportdetails.kilometers}}</td>
                    <td>{{ transportdetails.ratePerKm }}</td>
                    <td>{{ transportdetails.freightCharges }}</td>
                    <td>{{ transportdetails.date |date }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

