<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand">EAgro App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="home" routerLinkActive="router-link-active">Home</a>
          </li>
          <!-- <li class="nav-item" *ngIf="isCorporate()">
             <div class="nav-link text-dark" *ngIf="corporateName.length == 0"> 
              {{getCorporate()}}</div>
             {{corporateName}}
          </li> -->

          <li class="nav-item" *ngIf="isCorporate()">
            <div class="nav-link text-dark">
                {{corporateName}}
            </div>
        </li>
          <!-- Logged In User Profile and Logout -->
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link text-dark" (click)="openUserProfile()">
              <i class="fa fa-user-circle"></i> 
               {{name}}
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link text-danger" (click)="logOut()">
              <i class="fa fa-sign-out-alt"></i> Logout
            </a>
          </li>

          <!-- Login Link -->
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link text-dark" routerLink="/login" routerLinkActive="router-link-active">
              <i class="fa fa-sign-in-alt"></i> Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

