<h2>Edit Collection</h2>
<app-collectiondetails (sendCollection)="receiveCollection($event)" hidden></app-collectiondetails>
<form *ngIf="collection" (submit)="updateCollection()">
  <label>
    Container Type:
    <input type="text" name="containerType" [(ngModel)]="collection.containerType" required readonly>
  </label>
  <br>
  <label>
    Quantity:
    <input type="number" name="quantity" [(ngModel)]="collection.quantity" required readonly>
  </label>
  <br>
  <label>
    Total Weight:
    <input type="number" name="totalWeight" [(ngModel)]="collection.totalWeight" required readonly>
  </label>
  <br>
  <label>
    Tare Weight:
    <input type="number" name="tareWeight" [(ngModel)]="collection.tareWeight" required readonly>
  </label>
  <br>
  <label>
    Grade:
    <select name="grade" [(ngModel)]="collection.grade" required>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>
  </label>
  <br>
  <label>
    Rate Per Kg:
    <input type="number" name="ratePerKg" [(ngModel)]="collection.ratePerKg" required>
  </label>
  <br>
  <br>
  <button type="submit">Update</button>
</form>
