<h2>Assure Quality of Collection</h2>
<app-collectiondetails (sendCollection)="receiveCollection($event)" hidden></app-collectiondetails>
<form *ngIf="collectionViewModel" (submit)="updateCollection()">
  <div style="display: flex;">
    <div style="text-align: center;padding-top: 23px;margin: 20px;">Crop
    </div>
    <div class="circle-image" style="margin-left: 30px;"> 
      <img [src]="collectionViewModel.cropImage" width="100px" height="100px" />
    </div>
  </div>
  <div style="display: flex;">
    <div style="text-align: center;padding-top: 23px;margin: 20px;">Container
    </div>
    <div class="circle-image" style="margin-left: 30px;"> 
      <img [src]="collectionViewModel.containerImage" width="100px" height="100px" />
    </div>
  </div>

  <label>
    Grade:
    <select name="grade" [(ngModel)]="collectionViewModel.collection.grade" required>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
  </label>
  <br>
  <label>
    Rate Per Kg:
    <input type="number" name="ratePerKg" [(ngModel)]="collectionViewModel.collection.ratePerKg" required>
  </label>
  <br>
  <label>
    Container Type:
    <input type="text" name="containerType" [(ngModel)]="collectionViewModel.collection.containerType" required
      readonly>
  </label>
  <br>
  <label>
    Quantity:
    <input type="number" name="quantity" [(ngModel)]="collectionViewModel.collection.quantity" required readonly>
  </label>
  <br>
  <label>
    Total Weight:
    <input type="number" name="totalWeight" [(ngModel)]="collectionViewModel.collection.totalWeight" required readonly>
  </label>
  <br>
  <label>
    Tare Weight:
    <input type="number" name="tareWeight" [(ngModel)]="collectionViewModel.collection.tareWeight" required readonly>
  </label>
  <br>
  <button type="submit">Submit</button>
</form>