

<h2>Vehicles of Transporter</h2>
<div>
  <button class="btn btn-primary" (click)="onAddNewVehicle()">Add New Vehicle</button>
</div>

<div *ngIf="vehicles.length > 0">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Vehicle Type</th>
        <th>RTO Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.vehicleType }}</td>
        <td>{{ vehicle.rtoNumber }}</td>
        <td><button (click)="OnSelectGetShipment(vehicle.id)">GetShipmentDetails</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="vehicles.length === 0">
  No vehicles found for the transporter.
</div>
