.filter-container {
  float: left;
  width: 200px; 
  padding-right: 20px; 
}

.farmer-collections-container {
  margin-top: 20px;
  margin-left: 220px;
 max-width:100% ; width:auto;
}

 


.filter-content-top {
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  overflow-y: auto;
}

.current-page {
  background-color: #5ac7eb;
  color: rgb(11, 11, 11);
}



.page-numbers-container {
  display: flex;
}

.page-numbers-container button {
  margin-right: 5px;
}

.button{
  margin: 5px;
  padding: 5px 10px;
   background-color:  rgb(90, 199, 235);
   color: black;
   border: 1px solid #ccc;
   border-radius: 5%;
   cursor: pointer;
 }

 .cbtn{
  cursor: pointer;
  font-size: 12px;
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px 0 hsla(0,0%,100%,.5);
  border-radius: 3px;
  margin: 2px 4px;
  transition: background-color .1s;
  padding: 8px;
}


.cbtn1{
  display: inline-block;
  color: red;
  box-sizing: border-box;
}

.cbtn2{
  font-size: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.cbtn2:hover{
  text-decoration: line-through;
}