<br>
 <button type="button" class="btn btn-info" (click)="onClick()">Paid Collection</button>
 <br>
<button type="button" class="btn btn-info" (click)="unpaidClick()">Unpaid Collection</button>
    
<br>
<div class="container mt-4">
    <div *ngIf="verifiedCollections">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Collection Center Name</th>
                    <th>Collection Date</th>
                    <th>Crop Info</th>
                    <th>Container Type</th>
                    <th>Quantity</th>
                    <th>Weight</th>
                    <th>Grade</th>
                    <th>Inspection Date</th>
                    <th>Weight</th>

                </tr>
            </thead>

            <tbody *ngFor="let veryfiedCollection of verifiedCollections" class="align-middle">
                <tr>
                    
                    <td>{{veryfiedCollection.collectionCenterName}}</td>
                    <td>{{veryfiedCollection.collectionDate}}</td>
                    <td>
                        <div class="crop-info" class="rounded-image">
                            <img [src]="veryfiedCollection.imageUrl" class="crop-image"/>
                            <div class="crop-name">{{veryfiedCollection.cropName}}</div>
                        </div>
                    </td>
                    <td>{{veryfiedCollection.containerType}}</td>
                    <td>{{veryfiedCollection.quantity}}</td>
                    <td>{{veryfiedCollection.weight}}</td>
                    <td>{{veryfiedCollection.grade}}</td>
                    <td>{{veryfiedCollection.inspectionDate}}</td>
                    <td>{{veryfiedCollection.weight}}</td>              
                </tr>
            </tbody>
        </table>
    </div>
</div>
