<nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="home" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="about" routerLinkActive="router-link-active">About</a></li>
      <li><a routerLink="contact" routerLinkActive="router-link-active">Contact</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="auth/login" routerLinkActive="router-link-active">Login</a></li>
      <li *ngIf="isroleTransporter()"><a routerLink="transporter/:id/dashboard" routerLinkActive="router-link-active">Dashboard</a></li>
      <li *ngIf="isroleTransporter()"><a routerLink="transporter/:id/vehicles" routerLinkActive="router-link-active">Vehicles</a></li>
      <li *ngIf="isroleTransporter()"><a routerLink="transporter/:id/allshipments" routerLinkActive="router-link-active">All Shipments</a></li>
      <li *ngIf="isroleInspector()"><a routerLink="collectioncenter/addcollection" routerLinkActive="router-link-active">add collection</a></li>
      <li *ngIf="isroleInspector()"><a routerLink="collectioncenter/verifycollections" routerLinkActive="router-link-active">verify collections</a></li>
      <li *ngIf="isroleInspector()"><a routerLink="collectioncenter/verifiedcollections" routerLinkActive="router-link-active">verified collections</a></li>
      <li *ngIf="isroleMerchant()"><a routerLink="merchant/home" routerLinkActive="router-link-active">Shipments</a></li>
      <li *ngIf="isUser()" class="user-profile-icon" (click)="openUserProfile()">
        <i class="fa fa-user-circle"></i>
      </li>
      <li *ngIf="isUser()" (click)="loggedOut()">
        <i class="fas fa-sign-out-alt"></i>
      </li>

    </ul>
  </nav>