                <div *ngIf="farmer">
                  <div class="card" style="margin-bottom: 10px; margin-top: 5px; color: black; background-color: rgb(217, 209, 226)">
                    <div class="d-flex justify-content-left">
                      <div>
                        <img src="/assets/images/AkshayTanpure.jpg" width="100px" height="100px" />
                      </div>
                      <div class="m-4 p-2">
                        <label style="padding-left: 20px;font-size: large;"><b>Name: {{ farmer.firstName }} {{ farmer.lastName }}</b></label>
                        <label style="padding-left: 20px;font-size: large;"><b>Location: {{ farmer.location }}</b></label>
                      <button type="submit" class="btn btn-primary btn-block fixed-update-button" (click)="update=true">
                        <i class="fas fa-check mr-2"></i>Update</button>
                  </div>
                  <div *ngIf="update"> 
                    <emp-farmer-update [farmer]="farmer"></emp-farmer-update>
                    </div>
                </div>
                   

        