<div></div>
<br />
<br />
<br />
<div *ngIf="collectionViewModel">
    <table>
      <tr>
        <th>farmer name</th>
        <td>{{collectionViewModel.farmerName}}</td>
    </tr>
      <tr>
        <th>crop</th>
        <td>{{collectionViewModel.cropName}}</td>
    </tr>
      <tr>
        <th>container</th>
        <td>{{collectionViewModel.collection.containerType}}</td>
    </tr>
    <tr>
      <th>quantity</th>
      <td>{{collectionViewModel.collection.quantity}}</td>
  </tr>
        <tr>
            <th>grade</th>
            <td>{{collectionViewModel.collection.grade}}</td>
        </tr>
        <tr>
            <th>Total Weight</th>
            <td>{{collectionViewModel.collection.totalWeight}}</td>
        </tr>

        <tr>
            <th>Tare Weight</th>
            <td>{{collectionViewModel.collection.tareWeight}}</td>
        </tr>
        <tr>
          <th>Net Weight</th>
          <td>{{collectionViewModel.collection.netWeight}}</td>
      </tr>
      <tr>
        <th>Rate Per Kg</th>
        <td>{{collectionViewModel.collection.ratePerKg}}</td>
    </tr>
        <tr>
            <th>date</th>
            <td>{{collectionViewModel.collection.date |date}}</td>
        </tr>
        <tr>
            <a routerLink="edit">Edit</a>
        </tr>

    </table>
</div>
<router-outlet></router-outlet>