<div>
  <table>
      <thead>
          <th>date</th><hr>
          <th>collectionid</th><hr>
          <th>quantity</th><hr>
          <th>container</th><hr>
          <th>crop</th><hr>
          <th>rate per kg</th><hr>
          <th>actions</th>
      </thead>
      <tbody>
          <td>Aug 9, 2022</td><hr>
          <td>1</td><hr>
          <td>20</td><hr>
          <td>bags</td><hr>
          <td>potato</td><hr>
          <td>20</td><hr>
          <td><a href="#">Edit</a> | <a href="#">Cancel</a></td>
      </tbody>
  </table>
</div>