<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a [routerLink]="['/farmers/selllist',farmerId]">
              <i class="bi bi-speedometer2"></i>
              Sells History
            </a>
            <br>
            <a [routerLink]="['/farmers/profile',farmerId]">
              <i class="bi bi-speedometer2"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-person"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-list"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      </div>
    </main>
  </div>
</div>