

<div class="container">
  <div class="card">
      <div class="card-body">
          <div class="row">
              <!-- Left Half (List Component) -->
              <div class="col-md-6">
                  <div class="bg-light p-3" style="height: 500px; overflow: auto;">
                      <app-collectionlist></app-collectionlist>
                  </div>
              </div>
              
              <!-- Right Half (Details Component) -->
              <div class="col-md-6">
                  <div class="bg-light p-3" style="height: 500px; overflow: auto;">
                      <app-collectiondetails></app-collectiondetails>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
