<!-- <app-collectionlist></app-collectionlist>
<app-collectiondetails></app-collectiondetails> -->

<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- Left side: app-collectionlist -->
          <div class="col-md-6">
            <app-collectionlist></app-collectionlist>
          </div>
  
          <!-- Right side: app-collectiondetails -->
          <div class="col-md-6">
            <app-collectiondetails></app-collectiondetails>
          </div>
        </div>
      </div>
    </div>
  </div>
  