<app-merchant-nav-left></app-merchant-nav-left>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Profile Details</h5>
          <form>
            <div style="text-align:center;">
              <img src="/assets/images/AkshayTanpure.jpg" style="border-radius: 50%; width: 200px; height: 200px;" />
            </div>            
            <div class="form-group">
              <label for="firstName"><b>First Name:</b></label>
              <p class="form-control-plaintext">{{merchant.firstName}}</p>
            </div>
            <div class="form-group">
              <label for="lastName"><b>Last Name:</b></label>
              <p class="form-control-plaintext">{{merchant.lastName}}</p>
            </div>
            <div class="form-group">
                <label for="companyName"><b>Company Name:</b></label>
                <p class="form-control-plaintext">{{merchant.companyName}}</p>
              </div>
            <div class="form-group">
              <label for="location"><b>Location:</b></label>
              <p class="form-control-plaintext">{{merchant.location}}</p>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" (click)="onClick()">
              <i class="fas fa-pencil-alt mr-2"></i>Edit Your Profile
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

