

<div class="container">
    <div class="row">
      <div class="col-12 col-md-12 overflow-auto">
        <div class="card">
          <div class="card-header" style="background-color: #001f3f; color: #fff;">
            Collection List
          </div>
          <div class="card-body text-left">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Crop</th>
                  <th>Farmer Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let collectionsList of verifiedCollections ">
                <tr *ngIf="!collectionsList">
                <td>Not Found</td>
                </tr>
                <tr>
                  <td>{{ collectionsList.collectionDate | date }}</td>
                  <td>{{ collectionsList.cropName }}</td>
                  <td>{{ collectionsList.farmerName }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="onClickDetails(collectionsList.collectionId)">Details</button>
                  </td>
                  <!-- <td>
                    <button class="btn btn-primary" (click)="addToShipment(collectionsList.collectionId)">Add To Shipment</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>