<table>
    <tr>
        <th>Collection Date</th>
        <th>Farmer Name</th>
        <th>Crop Name</th>
        <th>Grade</th>
        <th>Container Type</th>
        <th>Quantity</th>
        <th>Total Weight</th>
        <th>Net Weight</th>
        <th>Inspector Name</th>
    </tr>
    <tr *ngFor="let collection of collections">
        <td>{{ collection.collectionDate | date }}</td>
        <td>{{ collection.farmerName }}</td>
        <td>{{ collection.cropName}}</td>
        <td>{{ collection.grade}}</td>
        <td>{{ collection.containerType}}</td>
        <td>{{ collection.quantity}}</td>
        <td>{{ collection.totalWeight}}</td>
        <td>{{ collection.netWeight}}</td>
        <td>{{ collection.inspectorName }}</td>
</table>