
        <td>{{ collection.collectionDate | date }}</td>
        <td>{{ collection.farmerName }}</td>
        <td>{{ collection.cropName}}</td>
        <td>{{ collection.grade}}</td>
        <td>{{ collection.containerType}}</td>
        <td>{{ collection.quantity}}</td>
        <td>{{ collection.totalWeight}}</td>
        <td>{{ collection.netWeight}}</td>
        <td>{{ collection.inspectorName }}</td>
        <td><button (click)="onAddToShipment()">Add To Shipment</button></td>
      
  <div *ngIf="addToShipmentStatus"> <app-addtoshipment [CollectionId]="collection.id"></app-addtoshipment></div>      