<form action="AddItem" method="post">
  <table>
    <tr>
      <th><label>FarmerId:</label></th>
      <td><input type="number" name="farmerId" /></td>
    </tr>
    <tr>
      <th><label>Variety:</label></th>
      <td><input type="text" name="variety" /></td>
    </tr>
    <tr>
        <th><label>ContainerType:</label></th>
        <td><input type="text" name="containerType" /></td>
      </tr>
    <tr>
      <th><label>Quantity:</label></th>
      <td><input type="number" name="quantity"  /></td>
    </tr>
    <tr>
      <th><label>TotalWeight:</label></th>
      <td><input type="number" name="totalWeight" /></td>
    </tr>
    <tr>
        <th><label>TareWeight:</label></th>
        <td><input type="number" name="tareWeight" /></td>
      </tr>
    <tr>
      <th><label>RatePerKg:</label></th>
      <td><input type="number" name="ratePerKg"  /></td>
    </tr>
  </table>
  <button type="submit">Insert</button>
</form>
