<br>
<br>

<table *ngIf="billing">
    <tr>
      <th> Collection Date</th>
      <td>{{billing.collectionDate |date}}</td>
    </tr>
    <tr>
    <th>Farmer Name</th>
    <td>{{billing.farmerName }}</td>
  </tr>
  <tr>
    <th> Billing Date</th>
    <td>{{billing.billingDate |date}}</td>
  </tr>
  <tr>
    <th>Labour Charges</th>
    <td>{{billing.labourCharges}}</td>
  </tr>
  <tr>
    <th>Amount</th>
    <td>{{billing.amount}}</td>
  </tr>
</table>
<button (click)="goBack()">Go Back</button>
