.my-card {
    position:sticky;
    align-content: center;
    margin-left: 18%;
    background-color: #f1f1f1;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			margin-bottom: 20px;
           
  }
.rightbar{
    height: 500;
    width: 100;
}
.card .card {
    position: absolute;
    bottom: 0;
    left: absolute;
  }
  
  .sort-select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .sort-select:hover {
    border-color: #999;
  }
  
  .sort-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  // #navbar {min-width:300px;}
//   #menu-container {
//     position: absolute;
//     white-space: nowrap;
//     overflow: hidden;

// }