<br><br>
<div>
    <div>
        <table>
            <thead>
                <th>FarmerName</th>
                <hr>
                <th>actions</th>

            </thead>
            <tbody *ngFor="let farmer of farmers">
                <td>{{farmer.firstName}}{{farmer.lastName}}</td>
                <hr>
                <hr>
                <td><button (click)="onClick(farmer.id)">collections</button></td>
                <td><button (click)="onClickProfile(farmer.id)">profile</button></td>
            </tbody>
        </table>
    </div>
</div>

<router-outlet></router-outlet>