<!-- 
<div *ngIf="invoice">
    <table class="table">
        <tr>
            <td>Invoice Date:</td>
            <td>{{ invoice.invoiceDate | date}}</td>
        </tr>    
        <tr>
            <td>Collection Center Name:</td>
            <td>{{collectionCenterName }}</td>
        </tr>   
        <tr>
            <td>Merchant Name:</td>
            <td>{{ merchantName }}</td>
        </tr>
        <tr>
            <td>Transporter Name:</td>
            <td>{{transporterName }}</td>
        </tr>
        <tr>
            <td>Vehicle Number:</td>
            <td>{{ invoice.vehicleNumber }}</td>
        </tr>
        <tr>
            <td>Crop Name:</td>
            <td>{{ invoice.cropName }}</td>
        </tr>
        <tr>
            <td>Grade:</td>
            <td>{{ invoice.grade }}</td>
        </tr>
        <tr>
            <td>Container Type:</td>
            <td>{{ invoice.containerType }}</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>{{ invoice.quantity }}</td>
        </tr>
        <tr>
            <td>Total Weight:</td>
            <td>{{ invoice.totalWeight |number }}</td>
        </tr>
        <tr>
            <td>Net Weight:</td>
            <td>{{ invoice.netWeight |number }}</td>
        </tr>
        <tr>
            <td>Freight Charges:</td>
            <td>{{ invoice.freightCharges |number: '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Labour Charges:</td>
            <td>{{ invoice.labourCharges |number }}</td>
        </tr>
        <tr>
            <td>Service Charges:</td>
            <td>{{ invoice.serviceCharges |number }}</td>
        </tr>
        <tr>
            <td>Rate Per Kg:</td>
            <td>    {{ invoice.ratePerKg |number }}
                </td>
        </tr>
        <tr>
            <td>Farmer Amount:</td>
            <td>{{ invoice.farmerAmount |number }}</td>
        </tr>
        <tr>
            <td>Payment Status:</td>
            <td>{{ invoice.paymentStatus }}</td>
        </tr>

    </table> -->


    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Invoice Details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td><strong>Invoice Date</strong></td>
                                <td>{{ invoice.invoiceDate | date}}</td>
                            </tr>
                            <tr>
                                <td><strong>Collection Center Name:</strong></td>
                                <td>{{collectionCenterName }}</td>
                            </tr>   
                            <tr>
                                <td><strong>Merchant Name:</strong></td>
                                <td>{{ merchantName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Transporter Name:</strong></td>
                                <td>{{transporterName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Vehicle Number:</strong></td>
                                <td>{{ invoice.vehicleNumber }}</td>
                            </tr>
                            <tr>
                                <td><strong>Crop Name:</strong></td>
                                <td>{{ invoice.cropName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Grade:</strong></td>
                                <td>{{ invoice.grade }}</td>
                            </tr>
                            <tr>
                                <td><strong>Container Type:</strong></td>
                                <td>{{ invoice.containerType }}</td>
                            </tr>
                            <tr>
                                <td><strong>Quantity:</strong></td>
                                <td>{{ invoice.quantity }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Weight:</strong></td>
                                <td>{{ invoice.totalWeight |number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Net Weight:</strong></td>
                                <td>{{ invoice.netWeight |number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Freight Charges:</strong></td>
                                <td>{{ invoice.freightCharges |number: '1.2-2' }}</td>
                            </tr>
                            <tr>
                                <td><strong>Labour Charges:</strong></td>
                                <td>{{ invoice.labourCharges |number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Service Charges:</strong></td>
                                <td>{{ invoice.serviceCharges |number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Rate Per Kg:</strong></td>
                                <td>    {{ invoice.ratePerKg |number }}
                                    </td>
                            </tr>
                            <tr>
                                <td><strong>Farmer Amount:</strong></td>
                                <td>{{ invoice.farmerAmount |number }}</td>
                            </tr>
                            <tr>
                                <td><strong>Payment Status:</strong></td>
                                <td>{{ invoice.paymentStatus }}</td>
                            </tr>
                            <!-- Repeat the rest of the rows similarly -->
                            <!-- ... -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    