<div *ngIf="invoiceDetails">
    <table>
        <tr>
            <td>Invoice Date:</td>
            <td>{{ invoiceDetails.invoiceDate | date}}</td>
        </tr>
        <tr>
            <td>Farmer Name:</td>
            <td>{{ invoiceDetails.farmerName }}</td>
        </tr>
        <tr>
            <td>Collection Center Name:</td>
            <td>{{ invoiceDetails.collectionCenterName }}</td>
        </tr>
        <tr>
            <td>Transporter Name:</td>
            <td>{{ invoiceDetails.transporterName }}</td>
        </tr>
        <tr>
            <td>Vehicle Number:</td>
            <td>{{ invoiceDetails.vehicleNumber }}</td>
        </tr>
        <tr>
            <td>Crop Name:</td>
            <td>{{ invoiceDetails.cropName }}</td>
        </tr>
        <tr>
            <td>Grade:</td>
            <td>{{ invoiceDetails.grade }}</td>
        </tr>
        <tr>
            <td>Container Type:</td>
            <td>{{ invoiceDetails.containerType }}</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>{{ invoiceDetails.quantity }}</td>
        </tr>
        <tr>
            <td>Total Weight:</td>
            <td>{{ invoiceDetails.totalWeight |number }}</td>
        </tr>
        <tr>
            <td>Net Weight:</td>
            <td>{{ invoiceDetails.netWeight |number }}</td>
        </tr>
        <tr>
            <td>Freight Charges:</td>
            <td>{{ invoiceDetails.freightCharges |number: '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Labour Charges:</td>
            <td>{{ invoiceDetails.labourCharges |number }}</td>
        </tr>
        <tr>
            <td>Service Charges:</td>
            <td>{{ invoiceDetails.serviceCharges |number }}</td>
        </tr>
        <tr>
            <td>Rate Per Kg:</td>
            <ng-container *ngIf="invoiceDetails.paymentStatus != 'unpaid' ; else editableRate">
                {{ invoiceDetails.ratePerKg |number }}
            </ng-container>
            <ng-template #editableRate>
                <input type="number" [(ngModel)]="invoiceDetails.ratePerKg" pattern="[0-9]+" />
                <button (click)="updateRate(invoiceDetails.id)" [disabled]="!invoiceDetails.ratePerKg">update</button>
            </ng-template>
        </tr>
        <tr>
            <td>Total Amount:</td>
            <td>{{ invoiceDetails.totalAmount |number }}</td>
        </tr>

    </table>


    <div *ngIf="invoiceDetails.totalAmount > 0">
        <button (click)="onClickPaymentDetails()">Payment Details</button>
        <div *ngIf="showPayment">
            <table>
                <tr>
                    <td>FarmerName</td>
                    <td>{{ invoiceDetails.farmerName }}</td>
                    <td>Amount</td>
                    <td>{{ invoiceDetails.totalAmount |number }}</td>
                </tr>

                <tr>
                    <td>Collection Center</td>
                    <td>{{ invoiceDetails.collectionCenterName }}</td>

                    <td>Amount</td>
                    <td>{{ invoiceDetails.labourCharges + invoiceDetails.serviceCharges |number }}
                    </td>
                </tr>
            </table>
            <h6>Total Amount          {{ invoiceDetails.totalAmount + invoiceDetails.labourCharges + invoiceDetails.serviceCharges |number }} </h6>
            <br><button *ngIf="invoiceDetails.paymentStatus == 'unpaid' "> Pay </button>
        </div>
    </div>
</div>