
<div *ngIf="user">
    <div class="container">
        <table class="table table-striped">
          <tbody>
            <!-- <div class="profile-image">
              <img [src]="url" style="height: 30%; width: 30%;">
            </div>
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-3">
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" [(ngModel)]="url"  style="height: 30%; width: 30%;" multiple>
                <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
              </div>
              <div class="col-md-4">
                <span class="upload" *ngIf="progress > 0">
                  {{progress}}%
                </span>
                <span class="upload" *ngIf="message">
                  {{message}}
                </span>
              </div>
            </div> -->
            <tr>
              <th>first Name</th>
              <td><input type="text" [(ngModel)]="user.firstName" class="form-control"></td>
            </tr>
            <tr>
              <th>last Name</th>
              <td><input type="text" [(ngModel)]="user.lastName" class="form-control"></td>
            </tr>
            <tr>
              <th>Aadhar Id</th>
              <td><input type="text" [(ngModel)]="user.aadharId" class="form-control"></td>
            </tr>
            <tr>
              <th>BirthDate</th>
              <td><input type="text" [(ngModel)]="user.birthDate" class="form-control"></td>
            </tr>
            <tr>
              <th>Gender</th>
              <td><input type="text" [(ngModel)]="user.gender" class="form-control"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="text" [(ngModel)]="user.email" class="form-control"></td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2">
          <button class="btn btn-success" (click)="updateUser()">Update</button>
        </div>
      </div>  
    </div>
