<div></div>
<br />
<br />
<br />
<app-collectiondetails [collectionId]="collectionId" (sendCollection)="receiveCollection($event)" hidden></app-collectiondetails>
<div *ngIf="collectionViewModel">
  <div style="display: flex;">
    <div style="text-align: center;padding-top: 23px;margin: 20px;">Crop
    </div>
    <div class="circle-image" style="margin-left: 30px;"> 
      <img [src]="collectionViewModel.cropImage" width="100px" height="100px" />
    </div>
  </div>
  <div style="display: flex;">
    <div style="text-align: center;padding-top: 23px;margin: 20px;">Container
    </div>  
    <div class="circle-image" style="margin-left: 30px;"> 
      <img [src]="collectionViewModel.containerImage" width="100px" height="100px" />
    </div>
  </div>
  <table>
    <thead>
      <tr>
      <th>collection id</th>
      <th>farmer name</th>
      <th>quantity</th>
      <th>Total Weight</th>
      <th>Tare Weight</th>
      <th>Net Weight</th>
      <th>Collection date</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{collectionViewModel.collection.id}}</td>
        <td (click)="onClick(collectionViewModel.collection.farmerId)" style="color: blue;"> {{collectionViewModel.farmerName}}</td>
        <td>{{collectionViewModel.collection.quantity}}</td>
        <td>{{collectionViewModel.collection.totalWeight}}</td>
        <td>{{collectionViewModel.collection.tareWeight}}</td>
        <td>{{collectionViewModel.collection.netWeight}}</td>
        <td>{{collectionViewModel.collection.date |date}}</td>
   </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<div>

  <form >
    <label for="collectionId">Collection Id:</label>
    <input type="number" name="collectionId" [(ngModel)]="collectionId">
    <br>
    <label for="merchantName">Merchant Name:</label>
    <select name="merchantId" [(ngModel)]="sellBill.sell.merchantId" required>
      <option *ngFor="let merchant of merchants" [value]="merchant.id">{{ merchant.firstName }} {{ merchant.lastName }}</option>
    </select>
    <br>
    <label for="vehicle Name">vehicle Number:</label>
    <select name="vehicleId" [(ngModel)]="sellBill.sell.vehicleId" required>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.vehicleNumber }} </option>
    </select>
    <br>
    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" [(ngModel)]="sellBill.sell.quantity">
    <br>
    <label for="netweight">NetWeight:</label>
    <input type="text" name="netweight" [(ngModel)]="sellBill.sell.netWeight">
    <br>
    <label for="rateperkg">Rateperkg:</label>
    <input type="text" name="rateperkg" [(ngModel)]="sellBill.sell.ratePerKg">
    <br>
    <br>
    <br>
    <div>Enter the information for transports freight charges:</div>
    <br>
    <br>
    <label for="fromDestination">From Destination:</label>
    <input type="text" name="fromDestination" [(ngModel)]="sellBill.freightRate.fromDestination">
    <br>
    <label for="toDestination">To Destination:</label>
    <input type="text" name="toDestination" [(ngModel)]="sellBill.freightRate.toDestination">
    <br>
    <label for="kilometers">Kilometers:</label>
    <input type="text" name="kilometers" [(ngModel)]="sellBill.freightRate.kilometers">
    <br>
    <label for="ratePerKm">Rate Per Km:</label>
    <input type="text" name="ratePerKm" [(ngModel)]="sellBill.freightRate.ratePerKm">
    <br>
    <button type="submit" (click)="insert()"> Done</button>
</form>
</div>
<div *ngIf="sellview">
  <table>
    <tr>
      <th>Quantity</th>
      <td>{{sellview.sell.quantity}}</td>
    </tr>
    <tr>
      <th>Net Weight</th>
      <td>{{sellview.sell.netWeight}}</td>
    </tr>
    <tr>
      <th>Rate Per Kg</th>
      <td>{{sellview.sell.ratePerKg}}</td>
    </tr>
    <tr>
      <th>date</th>
      <td>{{sellview.sell.date |date}}</td>
    </tr>
    <tr>
      <th>merchantName</th>
      <td>{{sellview.merchantName}}</td>
    </tr>
    <tr>
        <th>vehicleNumber</th>
        <td>{{sellview.vehicleNumber}}</td>
      </tr>
  </table>
</div>
<router-outlet></router-outlet>
