<!-- 

<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
          <ul class="navbar-nav flex-grow">
            <li
              class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/farmer/collections']">Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/farmer/invoicelist']">Invoices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  [routerLink]="['/farmer/bankstatement']">Statements</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  
   -->

<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <ul class="nav-links">

            <div *ngIf="isRoleFarmer()" style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" [routerLink]="['/farmer/collections']">Collections</a>
              <a class="nav-link text-dark" [routerLink]="['/farmer/invoicelist']">Invoices</a>
              <a a class="nav-link text-dark" [routerLink]="['farmer/bankstatement']">Bank Statements</a>
            </div>

            <div *ngIf="isRoleMerchant()"style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" routerLink="transporter/dashboard" >Dashboard</a>
              <a class="nav-link text-dark" routerLink="transporter/vehicles" >Vehicles</a>
              <a class="nav-link text-dark" routerLink="transporter/allshipments" >All Shipments</a>
              <a class="nav-link text-dark" routerLink="transporter/invoices" >Invoices</a>
              <a class="nav-link text-dark" routerLink="transporter/banking" >Bankstatement</a>
            </div>

            <div *ngIf="isRoleCollectionManager()"style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" routerLink="collectionmanager/dashboard">Dashboard</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/collection" > Collections List</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/addcollection">Add New Collection</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/verifiedcollection">Verifide Collection</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/filters/shipments" >Shipment List</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/filters/payment" >Invoices List</a>
              <a class="nav-link text-dark" routerLink="collectionmanager/banking">banking</a>
            </div>

            <div *ngIf="isRoleInspector()"style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" routerLink="inspector/verify" >verify collections </a>
            </div>


            <div *ngIf="isRoleMerchant()"style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" routerLink="merchant/dashboard" >dashboard</a>
              <a class="nav-link text-dark" routerLink="merchant/shipmentlist">Shipments</a>
              <a class="nav-link text-dark" routerLink="merchant/invoices">Invoices</a>
            </div>

            <div *ngIf="isRoleTransporter()"style="display: flex; justify-content: space-between;">
              <a class="nav-link text-dark" routerLink="transporter/dashboard" >dashboard</a>
              <a class="nav-link text-dark" routerLink="transporter/transporterview">Vehicles List</a>
              <a class ="nav-link text-dark" routerLink="transporter/shipments">All Shipments</a>
              <a class ="nav-link text-dark" routerLink="transporter/invoices">Invoices</a>
              <a class ="nav-link text-dark" routerLink="transporter/bankstatement">Bank Statement</a>
            </div>


           
          </ul>
        </ul>
      </div>
    </div>

  </nav>
</header>