<div class="container p-5 my-5 bg-primary text-white">
    <div class="justify-content-start">
      <div class="container">
        <div class="logo-container">
          <img src="/assets/images/eagrologo.jpg" alt="E-Agro Services Logo" class="logo">
          <h1>Welcome to E-Agro Services</h1>
          <footer>
            <br>
            <p>&copy; 2023 E-Agro Services. All rights reserved.</p>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <img src="/assets/images/farmer.jpg" class="card-img-top" alt="Farmers">
          <div class="card-body">
            <h5 class="card-title">Farmers</h5>
            <p class="card-text">Explore our services for farmers and manage your produce effectively.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/assets/images/merchant.jpeg" class="card-img-top" alt="Merchants">
          <div class="card-body">
            <h5 class="card-title">Merchants</h5>
            <p class="card-text">Discover how EagroService can streamline your buying and selling operations.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card">
          <img src="/assets/images/truck.jpg" class="card-img-top" alt="Transports">
          <div class="card-body">
            <h5 class="card-title">Transports</h5>
            <p class="card-text">Efficiently transport goods between farmers, merchants, and service owners.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/assets/images/employee.jpg" class="card-img-top" alt="Employees">
          <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">Join our team and contribute to the success of EagroService.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card">
          <img src="/assets/images/owner.jpg" class="card-img-top" alt="Service Owners">
          <div class="card-body">
            <h5 class="card-title">Service Owners</h5>
            <p class="card-text">Manage your service operations and connect with farmers and merchants seamlessly.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  