.container {
    padding-top: 20px;
  }
  
  .farmer-dashboard-card {
    margin-bottom: 20px;
  }
  
  .crops-details-card {
    margin-bottom: 20px;
  }
  
  .pie-chart-card {
    margin-top: 20px;
  }
  