
/* Heading Styles */
/* h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  } */
  
  /* Body Text */
  .bi {
    font-size: 18px;
    font-weight: normal;
  }
  