.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table td {
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e2e2e2;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.delete-button{
  background-color: rgb(181, 21, 21);
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
