<br><br>
<div>

<a routerLink="addcollection">addcollection</a><br>
<a (click)="getFarmers()" routerLink="farmerList">farmerList</a>
<div>
<a routerLink="addcollection">addcollection</a>
<div *ngIf="collections">
    <table>
        <thead>
            <th>FarmerName</th>
            <th>date</th><hr>
            <th>quantity</th><hr>
            <th>container</th><hr>
            <th>crop</th><hr>
           <th>actions</th><hr>
        </thead>
        <tbody *ngFor="let collection of collections">
            <td>{{collection.farmerName}}</td><hr>
            <td>{{collection.date |date}}</td><hr>
            <td>{{collection.quantity}}</td><hr>
            <td>{{collection.containerType}}</td><hr>
            <td>{{collection.cropName}}</td><hr>
            <td ><button (click)="OnClickCollection(collection.id)" >details</button></td><hr>
        </tbody>
    </table>
</div>
</div>

<router-outlet></router-outlet>