<br><br>
<div>
<a routerLink="addcollection">addcollection</a><br>
<a (click)="getFarmers()" routerLink="farmerList">farmerList</a>
<div>
    <table>
        <thead>
            <th>date</th><hr>
            <th>collectionid</th><hr>
            <th>quantity</th><hr>
            <th>container</th><hr>
            <th>crop</th><hr>
           <th>actions</th><hr>
        </thead>
        <tbody *ngFor="let collection of collections">
            <td>{{collection.date |date}}</td><hr>
            <td>{{collection.collectionId}}</td><hr>
            <td>{{collection.quantity}}</td><hr>
            <td>{{collection.container}}</td><hr>
            <td>{{collection.crop}}</td><hr>
            <td ><button (click)="OnClickCollection(collection.collectionId)" >details</button></td><hr>
        </tbody>
    </table>
</div>
</div>

<router-outlet></router-outlet>