<div class="row" style="overflow-x: hidden">
  <div class="col-md-2">
    <app-transport-nav-left></app-transport-nav-left>  </div>
  <div class="col-md-10 center bg-danger" style="background-color: #1e272e; text-align: center">
    <h2 style="margin-top: 22px; color: gold"><b>DASHBOARD</b></h2>
  </div>

  <div class="my-card justify-content-start">
    <div class="row">
      <div class="col-md-2">
        <div class="card dashnum-card text-bg-dark overflow-hidden" >
          <span class="round small"></span>
          <span class="round big"></span>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="avtar avtar-lg">
                  <i class="text-white ti ti-credit-card"></i>
                </div>
              </div>
            </div>
            <span class="text-white d-block f-34 f-w-500 my-2"
              >1000 <i class="ti ti-arrow-up-right-circle opacity-50"></i
            ></span>
            <p class="mb-0 "><b>Total Amount</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-bg-dark overflow-hidden">
          <div class="card-body " style="background-color: rgb(219, 202, 109)">
        <transport-piechart></transport-piechart>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card dashnum-card overflow-hidden"  >
          <div class="card-body " style="background-color: silver">
            <transport-area-chart></transport-area-chart>
        </div>
        </div>
      </div>
      <div>
        <transport-columnchart></transport-columnchart>
      </div>
    </div>
  </div>
</div>
