<p>profile works!</p>
<br>
<br>
<div>
    <table>
        <thead>
            <!-- <th>image</th> -->
            <th>FirstName</th><hr>
            <th>LastName</th><hr>
            <th>Email</th><hr>
            <th>Contact Number</th><hr>
            <th>Aadhar Id</th><hr>
        </thead>
        <tbody *ngIf="farmer">
            <!-- <img [src]="farmer.imageUrl" width="100" /> -->
            <td>{{farmer.firstName}}</td><hr>
            <td>{{farmer.lastName}}</td><hr>
            <td>{{farmer.email}}</td><hr>
            <td>{{farmer.contactNumber}}</td><hr>
            <td>{{farmer.aadharId}}</td><hr>
        </tbody>
    </table>
</div>

<!-- <div>
<label>AadharId:{{farmer.aadharId}}</label><br>
<label>FirstName:{{farmer.firstName}}</label><br>
<label>LastName:{{farmer.lastName}}</label><br>
<label>Email:{{farmer.email}}</label><br>
<label>Gender:{{farmer.gender}}</label><br>
<label>ContactNumber:{{farmer.contactNumber}}</label><br> -->
